html{
	min-height: 100%;
  background:url('background.png') no-repeat center;
  background-size:cover;
  background-attachment:fixed;
}

body {
	line-height: 1;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  background-color: transparent;
}

#logo img {
  width: 100%;
  margin-top: 80px;
  margin-bottom: -100px;
  z-index: 2;
  position: relative;

  animation: translate1 1.8s; 
  animation-iteration-count: 1; 
  -webkit-animation: translate1 1.8s; /* Safari & Chrome */
  -webkit-animation-iteration-count: 1;
}

#info {
	background-color: #fff;
	opacity:0.90;
	padding: 20px 5px;
	margin-top: 100px;
  margin-bottom: 100px;
  margin-left: -100px;

  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);

	animation: translate0 0.7s; 
  animation-iteration-count: 1; 
  -webkit-animation: translate0 0.7s; /* Safari & Chrome */
  -webkit-animation-iteration-count: 1; 
}

#character img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -250px;

	animation: translate1 1.3s; 
  animation-iteration-count: 1; 
  -webkit-animation: translate1 1.3s; /* Safari & Chrome */
  -webkit-animation-iteration-count: 1;
}

/* for 1 column layout */
@media (max-width: 1200px) {
  .container {
      width: 95%;
  }
  #logo img {
    margin-bottom: -150px;
  }
  #info {
    margin-top: -120px;
    margin-left: 0px;

    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  #character img {
  		margin-top: -200px;
  }
}
 
@keyframes translate0 { 
  0%   { transform:  translate(0px, 300px);opacity:0;} 
  100%  { transform:  translate(0px, 0px);opacity:0.7;   } 
} 
@-webkit-keyframes translate0 { 
  0%   { -webkit-transform:  translate(0px, 300px) ;opacity:0;   } 
  100%  { -webkit-transform:  translate(0px, 0px); opacity:0.7;  } 
} 

@keyframes translate1 { 
  0%   { transform:  translate(0px, 300px);opacity:0;} 
  100%  { transform:  translate(0px, 0px);opacity:1;   } 
} 
@-webkit-keyframes translate1 { 
  0%   { -webkit-transform:  translate(0px, 300px) ;opacity:0;   } 
  100%  { -webkit-transform:  translate(0px, 0px); opacity:1;  } 
} 